.main{width:99%;height:99%;background-color:lightgrey;padding:10px;}
.header{width:100%;height:70px;background-color:#df117b;}
.heaser_text{width:auto;height:auto;margin-left:20px;top:35%;color:white;position:relative; font-style: oblique;;
  font-size:20px;font-weight:503;}
.chart_section{width:50%;height:auto;padding:10px;}
